*,
*:before,
*:after{
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

form{
    width: 35%;
    background-color: rgb(31, 32, 33);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 0.5em;
}

input{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

label{
    display: block;
}

label h3{
    display: inline;
    margin: 0;
    font-weight: lighter;
    font-size: 0.6rem;
    width: 70%;
    color: #ffffff;
  
}

fieldset{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 0ch;
}

.container-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
}

*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: rgb(148, 148, 148);
    font-size: 0.6rem;
}
